#header{
	position: relative;
	background-color: #01012b; 
}
#header>div{
	margin-left: 0;
	margin-right: 0;
	}
#logo{
	width: 20%;
	height: 100%;
	margin: 0;
}
.navbarnav{
	margin-top: 10px;
}
.navbar-brand{
	width: 80%;
	box-sizing: border-box;
}
#title1{
	top: 18%;
    color: #05d9e8;
}
#title2{
	top: 19%;
    color: #005678;
}
#title3{
	top: 20%;
    color: #ff2a6d;
}
.title{
	position: absolute;
	font-family: 'stereofunkdisplay', 'Montserrat', sans-serif; 
	text-transform: uppercase;
	font-weight: normal;
    font-style: normal;
    font-size: 4vw;
    padding-left: 15px;
}
.subtitle{
	position: absolute;
	top: 35%;
	font-family: 'Montserrat', sans-serif; 
	text-align: center;
	font-size: 2vw;
	padding-left: 20%;
	padding-top: 3vw;
	font-style: italic;
	color: #d1f7ff;
}
button.navbar-toggler{
	width: 9vw;
}
.navbar-dark .navbar-toggler{
	color: #f3e600;
	border-color: #f3e600;
	border-width: 3px;
}
.navbar-toggler-icon{
	width: 100%;
}
.navbar-dark .navbar-nav .nav-link{
	color: #05d9e8;
	text-align: center;
	font-family:'stereofunkdisplay', sans-serif;
}

#mainContent{
	position: relative;
	padding: 0;
	background-color: #01012b; 
}
#jumbotron{
	height: 80%;
	position: absolute;
	top: 0;
	padding: 5;
	margin-bottom: 4;
	background-color: rgba(1, 1, 43, 0.8);
	border: 3px solid #f3e600;
}
#jumbo-backround{
	position: absolute;
	width: 100%;
}
#jumbo-content{
	margin-top: 9vw;
	margin-bottom: 9vw;
}
.center{
	text-align: center;
}
h1.center{
	padding-bottom: 15px;
	color:  #f3e600 ;
	text-shadow: 3px 3px #05d9e8; 
	text-transform: uppercase;
	font-family:'stereofunkdisplay', sans-serif;
	font-weight: bolder;
}
p.center{
	color: #05d9e8;
	text-shadow: 1.5px 1.5px #005678;
	font-size: 2vw;
	font-family:'Montserrat', sans-serif;
}
.row{
	position: relative;

}
#cards.row>*{
	padding: 0.5vw;
}
.card-img-top{
	height: 40vw;
}

#cards{
	margin-left: 1vw;
	margin-right: 1vw;
}
a{
	text-decoration: none;
}
.card{
	border: 2px solid  #ff2a6d;
	background-color:  #01012b;
}

.card-title{
	color: #f3e600;
	text-shadow: 2px 2px #005678;
	text-transform: uppercase;
	font-family:'stereofunkdisplay', sans-serif;
	font-size: 3vw;
}
.card-text{
	color: #05d9e8;
	font-family:'Montserrat', sans-serif;
	font-size: 2vw;
}
.card-body{
	position: relative;
}
.footer{
	padding-top: 1vw;
	background-color: #f3e600;
	padding-bottom: 10px;
}
#quote-title{
	padding-top: 15px;
	font-family:'stereofunkdisplay', sans-serif;
	color: #000000;
	font-size: 2.5vw;
	text-shadow: 1px 1px #05d9e8;
}
.author{
	font-family:'Montserrat', sans-serif;
	color: #000000;
	font-size: 2vw;
	font-style: italic;
}
h5{
	margin-bottom: 3px;
}
/*** 
yellow rgb(243, 230, 0) #f3e600
black #000000
dark blue #01012b  rgba(1, 1, 43, 0.8)
light blue #05d9e8
blue #005678
pink #ff2a6d
**/

/**** Large devices ****/
@media (min-width: 1200px){
	#navbar-target{
	position: absolute;
	right: 1vw;
	}
	.subtitle{
		font-size: 2vw;
		padding-top: 35px;
		padding-left: 20%;
	}
}

/**** Medium devices ****/
@media (min-width: 992px) and (max-width: 1199px) {
	#navbar-target{
	position: absolute;
	right: 1vw;
	}
}


/**** Small devices ****/
@media (min-width: 768px) and (max-width: 991px){

}
/**** Extra small devices ****/
@media (max-width: 767px){
	h1.center{
		font-size: 4.5vw;
	}
	#jumbotron{
		width: 80%;
	}
	p.center{
		font-size: 2.5vw;
	}
}




/*** 
yellow rgb(243, 230, 0) #f3e600
black #000000
dark blue #01012b  rgba(1, 1, 43, 0.8)
light blue #05d9e8
blue #005678
pink #ff2a6d
**/